{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json" >
    {
      "@context": "https://schema.org",
      "@id": "# Put here the course webpage (https://hds-sandbox.github.io/OMICS-workshop)",
      "@type": "LearningResource",
      "dct:conformsTo": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE",
      "description": "OMICS tutorial for genomics, transcriptomics and proteomics",
      "keywords": [
        "Transcriptomics, Proteomics, Genomics"
      ],
      "learningResourceType": [
        "e-learning"
      ],
      "license": [
        {
          "@id": "# Link to license webpage (https://creativecommons.org/licenses/by-sa/4.0/)",
          "@type": "CreativeWork"
        }
      ],
      "name": "OMICS focus group workshop",
      "educationalLevel": "Beginner",
      "audience": "MSc, PhD"
    }
    </script >

{% endblock %}

{% block announce %}
The 2023 edition of this workshop runs 29-31 august 2023
{% endblock %}